<template>
  <div class="hello">
    <h3>demo1 {{}}</h3>
        {{msg}}
    <h3>demo2 v-on</h3>
        {{msg2}}
        <button v-on:click="showData">click</button>
    <h3>demo3 v-model</h3>
        {{msg3}}
        <input v-model="msg3">
    <h3>dmeo4 computer</h3>
        <p>{{msg4}}</p>
        <p>{{ msg4deal }}</p>

    <div id="watch-example">
        <p>
            Ask a yes/no question:
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>
        <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address" key="email-input">
    </template>
  </div>
</template>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      msg2: 'hello',
      msg3: 'world',
      msg4: 'computed',
      question: '',
      answer: 'I cannot give you an answer until you ask a question!'
    }
  },
  watch: {
     // 如果 question 发生改变，这个函数就会运行
     question: function (newQuestion) {
       this.answer = 'Waiting for you to stop typing...'
       this.getAnswer()
     }
  },
  computed: {
      msg4deal: function(){
         this.msg4 = 'computedDeal'
      }
  },
  methods: {
    showData : function(){
        this.msg2 = "Welcome to Your Vue.js App TOO"
    },
    // getAnswer: _.debounce(
    //     function () {
    //       var vm = this
    //       if (this.question.indexOf('?') === -1) {
    //         vm.answer = 'Questions usually contain a question mark. ;-)'
    //         return
    //       }
    //       vm.answer = 'Thinking...'
    //       axios.get('https://yesno.wtf/api')
    //         .then(function (response) {
    //           vm.answer = _.capitalize(response.data.answer)
    //         })
    //         .catch(function (error) {
    //           vm.answer = 'Error! Could not reach the API. ' + error
    //         })
    //     },500)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
